<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilo_campos_invalidos.css')}}">
    <title>Argumentos invalidos</title>
</head>
<body>
    <h1>Os Argumentos inseridos sao invalidos - Erro 406</h1>
    <h3>Revise os argumentos passados na URL e tente novamente</h3>
    <footer>
        <p>caso Tenha algum outro Erro, entre em contato com o suporte : <a href="mailto:vieirabrayan@gmail.com" aria-label="Enviar e-mail para suporte">vieirabrayan@gmail.com</a></p>
        <div class="example">
            Exemplo: /create/?key=0&dob=1091992&mae=ryana&cpf=00000000&email=seuemail@gmail.com&senha=123456&nome=bruno
        </div>

    </footer>
</body>
</html>