<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilo_api_invalida.css')}}">
    <title>API Inválida</title>
</head>
<body>
    <header>
        <h1>Erro: Chave de API Inválida - Erro 403</h1>
    </header>

    <main>
        <section>
            <h2>Chave inserida como argumento é inválida</h2>
            <p>Verifique a chave API fornecida e tente novamente. Se o problema persistir, entre em contato conosco para mais informações.</p>
        </section>
    </main>

    <footer>
        <p>Entre em contato conosco: <a href="mailto:vieirabrayan@gmail.com" aria-label="Enviar e-mail para suporte">vieirabrayan@gmail.com</a></p>
    </footer>
</body>
</html>
