h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
.example {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Courier New', monospace;
    text-align: center;
    word-wrap: break-word;
}